.document-container {
  margin: 2rem;
  border: 1px solid rgb(189, 191, 194);
  border-radius: 10px;
  width: 90vw;
  padding: 1rem;
  height: 4rem;
  line-height: normal;
  font-size: 14px;
  background-color: rgb(255, 255, 255);
}
