.filters-container {
  background-color: rgb(225, 236, 241);
  width: 92vw;
  height: 30vh;
  margin: 1rem;
  padding: 0.5rem 1rem;
}
.selects-section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 0.25rem;
}

.filters-head {
  font-size: 14px;
  font-weight: 600;
}
.first-row {
  width: 40vw;
}

/* clear button */
.clear-all-filters {
  float: right;
  position: relative;
  left: 1px;
  bottom: 26px;
  border: none;
  background-color: transparent;
  color: rgb(176, 177, 182);
  font-size: 14px;
}
.clear-all-filters:focus {
  outline: none;
}
/* filtered options */
.filtered-options-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0;
}
.filtered-option {
  font-size: 12px;
  background-color: rgb(182, 212, 224);
  border-radius: 25px;
  padding: 0.3rem;
  height: 0.7rem;
  width: 3rem;
  line-height: 50%;
}
