.filters-container {
  background-color: rgb(225, 236, 241);
  width: 92vw;
  height: 30vh;
  margin: 1rem;
  padding: 0.5rem 1rem;
}
.selects-section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 0.25rem;
}
.filters-head {
  font-size: 14px;
  font-weight: 600;
}

.clear-all-filters {
  float: right;
  position: relative;
  right: 170px;
  bottom: 26px;
  border: none;
  background-color: transparent;
  color: rgb(176, 177, 182);
  font-size: 14px;
}
.clear-all-filters:focus {
  outline: none;
}
